  <div class="form-group">
    <%= form.label :title, t(:title), :class => "col-sm-2 control-label" %>
    <div class="col-sm-4">
      <%= form.text_field :title, :class => "form-control" %>
    </div>
  </div>

  <h3><%=t :personal_information %></h3>
  <div class="form-group">
    <%= form.label :nickname, property_label_text(:nickname), :class => "col-sm-2 control-label" %>
    <div class="col-sm-4">
      <%= form.text_field :nickname, :class => "form-control" %>
    </div>
  </div>
  <div class="form-group">
    <%= form.label :fullname, property_label_text(:fullname), :class => "col-sm-2 control-label" %>
    <div class="col-sm-4">
      <%= form.text_field :fullname, :class => "form-control" %>
    </div>
  </div>
  <div class="form-group">
    <%= form.label :email, property_label_text(:email), :class => "col-sm-2 control-label" %>
    <div class="col-sm-4">
      <%= form.text_field :email, :class => "form-control" %>
    </div>
  </div>
  <div class="form-group">
    <%= form.label :address, property_label_text(:address), :class => "col-sm-2 control-label" %>
    <div class="col-sm-4">
      <%= form.text_field :address, :class => "form-control" %>
    </div>
  </div>
  <div class="form-group">
    <%= form.label :address_additional, property_label_text(:address_additional), :class => "col-sm-2 control-label" %>
    <div class="col-sm-4">
      <%= form.text_field :address_additional, :class => "form-control" %>
    </div>
  </div>
  <div class="form-group">
    <%= form.label :postcode, property_label_text(:postcode), :class => "col-sm-2 control-label" %>
    <div class="col-sm-4">
      <%= form.text_field :postcode, :class => "form-control" %>
    </div>
  </div>
  <div class="form-group">
    <%= form.label :city, property_label_text(:city), :class => "col-sm-2 control-label" %>
    <div class="col-sm-4">
      <%= form.text_field :city, :class => "form-control" %>
    </div>
  </div>
  <div class="form-group">
    <%= form.label :state, property_label_text(:state), :class => "col-sm-2 control-label" %>
    <div class="col-sm-4">
      <%= form.text_field :state, :class => "form-control" %>
    </div>
  </div>
  <div class="form-group">
    <%= form.label :country, property_label_text(:country), :class => "col-sm-2 control-label" %>
    <div class="col-sm-4">
      <%= form.select :country, countries_for_select, { :include_blank => true }, {:class => "form-control"} %>
    </div>
  </div>
  <div class="form-group">
    <%= form.label :language, property_label_text(:language), :class => "col-sm-2 control-label" %>
    <div class="col-sm-4">
      <%= form.select :language, languages_for_select, { :include_blank => true }, {:class => "form-control"} %>
    </div>
  </div>
  <div class="form-group">
    <%= form.label :timezone, property_label_text(:timezone), :class => "col-sm-2 control-label" %>
    <div class="col-sm-4">
      <%= form.select :timezone, ActiveSupport::TimeZone::MAPPING.values.sort, { :include_blank => true }, {:class => "form-control"} %>
    </div>
  </div>
  <div class="form-group">
    <%= form.label :gender, property_label_text(:gender), :class => "col-sm-2 control-label" %>
    <div class="col-sm-4">
      <%= form.select :gender, [[t(:gender_male), 'M'], [t(:gender_female), 'F']], { :include_blank => true }, {:class => "form-control"} %>
    </div>
  </div>
  <div class="form-group">
    <%= form.label :dob_day, property_label_text(:dob), :class => "col-sm-2 control-label" %>
    <div class="col-sm-1">
      <%= select_day persona.dob_day, { :prefix => 'persona', :field_name => 'dob_day', :include_blank => true }, { :class => "form-control" } %>
    </div>
    <div class="col-sm-2">
      <%= select_month persona.dob_month, { :use_month_names => t(:month_names), :prefix => 'persona', :field_name => 'dob_month', :include_blank => true }, { :class => "form-control" } %>
    </div>
    <div class="col-sm-2">
      <%= select_year persona.dob_year, { :prefix => 'persona', :field_name => 'dob_year', :include_blank => true, :start_year => (Date.today.year - 100), :end_year => Date.today.year }, { :class => "form-control" } %>
    </div>
  </div>

  <h3><%=t :professional_information %></h3>
  <div class="form-group">
    <%= form.label :company_name, property_label_text(:company_name), :class => "col-sm-2 control-label" %>
    <div class="col-sm-4">
      <%= form.text_field :company_name, :class => "form-control" %>
    </div>
  </div>
  <div class="form-group">
    <%= form.label :job_title, property_label_text(:job_title), :class => "col-sm-2 control-label" %>
    <div class="col-sm-4">
      <%= form.text_field :job_title, :class => "form-control" %>
    </div>
  </div>
  <div class="form-group">
    <%= form.label :address_business, property_label_text(:address_business), :class => "col-sm-2 control-label" %>
    <div class="col-sm-4">
      <%= form.text_field :address_business, :class => "form-control" %>
    </div>
  </div>
  <div class="form-group">
    <%= form.label :address_additional_business, property_label_text(:address_additional_business), :class => "col-sm-2 control-label" %>
    <div class="col-sm-4">
      <%= form.text_field :address_additional_business, :class => "form-control" %>
    </div>
  </div>
  <div class="form-group">
    <%= form.label :postcode_business, property_label_text(:postcode_business), :class => "col-sm-2 control-label" %>
    <div class="col-sm-4">
      <%= form.text_field :postcode_business, :class => "form-control" %>
    </div>
  </div>
  <div class="form-group">
    <%= form.label :city_business, property_label_text(:city_business), :class => "col-sm-2 control-label" %>
    <div class="col-sm-4">
      <%= form.text_field :city_business, :class => "form-control" %>
    </div>
  </div>
  <div class="form-group">
    <%= form.label :state_business, property_label_text(:state_business), :class => "col-sm-2 control-label" %>
    <div class="col-sm-4">
      <%= form.text_field :state_business, :class => "form-control" %>
    </div>
  </div>
  <div class="form-group">
    <%= form.label :country_business, property_label_text(:country_business), :class => "col-sm-2 control-label" %>
    <div class="col-sm-4">
      <%= form.select :country_business, countries_for_select, { :include_blank => true }, {:class => "form-control"} %>
    </div>
  </div>

  <h3><%=t :phone %></h3>
  <div class="form-group">
    <%= form.label :phone_home, property_label_text(:phone_home), :class => "col-sm-2 control-label" %>
    <div class="col-sm-4">
      <%= form.text_field :phone_home, :class => "form-control" %>
    </div>
  </div>
  <div class="form-group">
    <%= form.label :phone_mobile, property_label_text(:phone_mobile), :class => "col-sm-2 control-label" %>
    <div class="col-sm-4">
      <%= form.text_field :phone_mobile, :class => "form-control" %>
    </div>
  </div>
  <div class="form-group">
    <%= form.label :phone_fax, property_label_text(:phone_fax), :class => "col-sm-2 control-label" %>
    <div class="col-sm-4">
      <%= form.text_field :phone_fax, :class => "form-control" %>
    </div>
  </div>
  <div class="row inline space">
    <%= form.label :phone_work, property_label_text(:phone_work), :class => "col-sm-2 control-label" %>
    <div class="col-sm-4">
      <%= form.text_field :phone_work, :class => "form-control" %>
    </div>
  </div>

  <h3><%=t :instant_messaging %></h3>
  <div class="form-group">
    <%= form.label :im_aim, property_label_text(:im_aim), :class => "col-sm-2 control-label" %>
    <div class="col-sm-4">
      <%= form.text_field :im_aim, :class => "form-control" %>
    </div>
  </div>
  <div class="form-group">
    <%= form.label :im_icq, property_label_text(:im_icq), :class => "col-sm-2 control-label" %>
    <div class="col-sm-4">
      <%= form.text_field :im_icq, :class => "form-control" %>
    </div>
  </div>
  <div class="form-group">
    <%= form.label :im_msn, property_label_text(:im_msn), :class => "col-sm-2 control-label" %>
    <div class="col-sm-4">
      <%= form.text_field :im_msn, :class => "form-control" %>
    </div>
  </div>
  <div class="form-group">
    <%= form.label :im_yahoo, property_label_text(:im_yahoo), :class => "col-sm-2 control-label" %>
    <div class="col-sm-4">
      <%= form.text_field :im_yahoo, :class => "form-control" %>
    </div>
  </div>
  <div class="form-group">
    <%= form.label :im_jabber, property_label_text(:im_jabber), :class => "col-sm-2 control-label" %>
    <div class="col-sm-4">
      <%= form.text_field :im_jabber, :class => "form-control" %>
    </div>
  </div>
  <div class="form-group">
    <%= form.label :im_skype, property_label_text(:im_skype), :class => "col-sm-2 control-label" %>
    <div class="col-sm-4">
      <%= form.text_field :im_skype, :class => "form-control" %>
    </div>
  </div>

  <h3><%=t :other_information %></h3>
  <div class="form-group">
    <%= form.label :biography, property_label_text(:biography), :class => "col-sm-2 control-label" %>
    <div class="col-sm-4">
      <%= form.text_field :biography, :class => "form-control" %>
    </div>
  </div>
  <div class="form-group">
    <%= form.label :image_default, property_label_text(:image_default), :class => "col-sm-2 control-label" %>
    <div class="col-sm-4">
      <%= form.text_field :image_default, :class => "form-control" %>
    </div>
  </div>
  <div class="form-group">
    <%= form.label :web_default, property_label_text(:web_default), :class => "col-sm-2 control-label" %>
    <div class="col-sm-4">
      <%= form.text_field :web_default, :class => "form-control" %>
    </div>
  </div>
  <div class="form-group">
    <%= form.label :web_blog, property_label_text(:web_blog), :class => "col-sm-2 control-label" %>
    <div class="col-sm-4">
      <%= form.text_field :web_blog, :class => "form-control" %>
    </div>
  </div>
