<h2><%=t :my_personas_title %></h2>

<p><%=t :personas_intro %></p>

<ul>
  <% @personas.each do |persona| %>
  <li>
    <h3><%=h persona.title%></h3>
    <div class="options">
      <%= link_to t(:edit), edit_account_persona_path(persona), :class => 'btn btn-primary btn-xs' %>
      <%= button_to t(:delete), {:controller => :personas, :action => 'destroy', :id => persona }, :confirm => t(:really_want_to_delete_persona, :title => h(persona.title)), :method => :delete, :class => 'btn btn-danger btn-xs' %>
    </div>
  </li>
  <% end %>
</ul>

<%= link_to t(:create_a_new_persona), new_account_persona_path %>